<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ion-button expand="block" fill="outline" color="primary" (click)="reset('employee')">
    <ion-icon name="refresh"></ion-icon>
    <ion-label> Reset Employees</ion-label>
  </ion-button>
  <br>
  <ion-button expand="block" fill="outline" color="primary" (click)="reset('time')">
    <ion-icon name="refresh"></ion-icon>
    <ion-label> Reset Timesheeets</ion-label>
  </ion-button>
</ion-content>