<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{employee?.firstName}}</ion-title>
    <!-- <ion-avatar slot="end" *ngIf="online$ | async;" >
      <img src="{{employee?.profilePicture}}">
    </ion-avatar> -->
    <ion-buttons slot="end">
      <div *ngIf="online$ | async; else offline"></div>
      <ng-template #offline>
        <ion-chip color="warning">
          <ion-label>Offline</ion-label>
        </ion-chip>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!-- <ion-fab-button color="success">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button> -->
  </ion-fab>
  <ion-card class="welcome-card" *ngFor="let timeSheet of employeeTimeSheet">
    <ion-card-header>
      <ion-card-subtitle>{{timeSheet.date | date: 'EEEE'}}</ion-card-subtitle>
      <ion-card-title>{{timeSheet.date | date: 'MM/dd/yyyy'}}</ion-card-title>
      <ion-chip outline [color]="timeSheet.approvalStatus == false? 'warning': 'success'">
        <ion-icon [name]="timeSheet.approvalStatus == false? ' ': 'checkmark'"></ion-icon>
        <ion-label>
          {{timeSheet.approvalStatus == false? 'NEED APPROVAL': 'APPROVED'}} - 8 Hrs
        </ion-label>
      </ion-chip>
      <!-- <ion-label [color]="timeSheet.approvalStatus == false? 'warning': 'success'">
          {{timeSheet.approvalStatus == false? 'Need Approval': 'Approved'}}</ion-label> -->
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none" *ngIf="timeSheet.tasks">
        <ion-list-header>
          <ion-label>Tasks</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let task of timeSheet.tasks">
          <ion-chip color="primary">
            <ion-label>{{task.hours}} HRS</ion-label>
          </ion-chip>
          <ion-label>{{task.chargeType}} - {{task.chargeNumber}}</ion-label>
        </ion-item>
        <ion-checkbox *ngIf="false" [(ngModel)]="timeSheet.approvalStatus"></ion-checkbox>
        <br>
        <ion-button expand="block" fill="outline" [color]="timeSheet.approvalStatus == false? 'success': 'danger'"
          (click)="updateTimeSheet(timeSheet)">
          <ion-icon [name]="timeSheet.approvalStatus == false? 'thumbs-up': 'thumbs-down'"></ion-icon>
          <ion-label>{{timeSheet.approvalStatus == false? 'Approve': 'Reject'}}</ion-label>
        </ion-button>
        <!-- <ion-toggle color="success" [(ngModel)]="timeSheet.approvalStatus"
              (click)="updateTimeSheet($event.detail, timeSheet)"></ion-toggle>
            (ionChange)="updateTimeSheet($event.detail, timeSheet)">
            (ionChange)="change($event.detail)"
          </ion-toggle> -->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
</ion-content>